# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/shelf/
/workspace.xml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Java & Spring Boot (컴파일된 파일 및 로그)
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db

# Security
.env
application-secret.yml
application-prod.yml